extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='post', action='/fizzbuzz')
        .input-group
            input.form-control(type='text', placeholder='please add your input seperated by ,', name = "content")
            span.input-group-btn
                input.btn.btn-success(type='submit', value='submit')